openapi: 3.1.0
info:
  title: Ryppl API (ryppl-contracts)
  version: 0.2.0-v1.1
  description: >
    Source-of-truth API + sanitized-AI-context contract for Ryppl.
    On-device-first: the device assembles and SANITIZES context; the backend is a thin,
    stateless AI gateway + identity + notifications layer that PERSISTS NO conversation content.
    Codegen targets: Dart (ryppl-mobile), Java/Spring (ryppl-backend), TypeScript (ryppl-admin).
    All user-facing text returned by /ai/* MUST satisfy the ryppl-companion-voice rules
    (warm, positive-only, "we" not "you", ask-before-advice, no medical claims).
servers:
  - url: https://api.ryppl.app/v1
# Auth is performed on-device via social IdPs (Google / Apple). The app sends the provider's
# OIDC ID token (JWT) as a Bearer token. The backend mints no token and runs no login system;
# it only VERIFIES this JWT at the edge (stateless JWKS, pseudonymous sub). Verification is
# documented now and wired in Sprint 2 — the gateway is open for local/MVP dev.
security:
  - providerIdToken: []     # Google / Apple OIDC ID token (verified at the edge)

paths:
  /ai/converse:
    post:
      summary: Streamed companion conversation turn (SSE)
      description: >
        Accepts a sanitized AiContext and streams companion text tokens via
        Server-Sent Events. A trailing event may include suggested quick-reply chips.
        Backend processes ephemerally and stores no content.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: >
            SSE stream (text/event-stream). Events: optional `safety` (JSON {"tier":1|2} — AC-04;
            sent before the first `token` when the server classifier detects Tier 1/2, or as tier 1
            just before `done` when only the model's reply was a crisis reply; the device then shows
            the care card for tier 1 and runs no wellness processing for the turn); `token` (delta text, repeated);
            optional `options` (JSON QuickReply[] — interactive chips split out of the text);
            optional `reminder` (JSON ReminderAction — V1.1 AC-03, emitted only after the user
            CONFIRMED a create/update/delete in Wave; the device applies it to its on-device
            reminder store, the backend persists nothing); then `done` (empty data).
          content:
            text/event-stream:
              schema: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /ai/insight:
    post:
      summary: Generate one positive, data-grounded insight
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: Insight
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Insight' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /ai/checkin-card:
    post:
      summary: Generate a personalized check-in card (question + quick replies)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: Card
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }

  /ai/milestones:
    post:
      summary: Suggest milestones for a goal
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: Milestone suggestions
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Milestone' }

  /ai/food-vision:
    post:
      summary: Estimate nutrition from a food photo
      description: >
        Multipart; the image is processed ephemerally for estimation and NOT stored.
        The device keeps the photo locally and persists only the confirmed estimate.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image: { type: string, format: binary }
                context: { $ref: '#/components/schemas/AiContext' }
              required: [image, context]
      responses:
        '200':
          description: Food estimate (to confirm on device)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FoodEstimate' }

  /profile:
    get:
      summary: Get minimal profile
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }
    put:
      summary: Update minimal profile
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Profile' }
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }

  /consent:
    post:
      summary: Record a consent change (ledger)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConsentChange' }
      responses:
        '204': { description: 'Recorded' }

  /push/register:
    post:
      summary: Register a push token
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PushRegistration' }
      responses:
        '204': { description: 'Registered' }

  /backup:
    put:
      summary: Store opaque end-to-end-encrypted backup blob (server cannot read). Sprint 5+.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BackupBlob' }
      responses:
        '204': { description: 'Stored' }
    get:
      summary: Retrieve opaque E2E backup blob
      responses:
        '200':
          description: Backup blob
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BackupBlob' }

  /account:
    delete:
      summary: Delete Account (V1.1 SR-PRIVACY-01) — removes the server record, Ryppls ledger, companion choice and AI usage rows
      description: >
        Server-side data is removed immediately; completesBy is the outer bound shown to the
        user ("within 30 days" — backups age out within it). The app wipes the device itself.
      responses:
        '200':
          description: Deletion accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountDeletion' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ---------- Ryppls (V1.1 AC-01 / SR-SCORE-01..05) ----------
  # Server is the source of truth; the device caches for display only. Keyed by the
  # pseudonymous subject. Events carry generic action codes only — never health
  # content or goal text. Ryppls only ever go up.
  /score:
    get:
      summary: Lifetime Ryppls, current level and progress to the next level
      parameters:
        - { name: tz, in: query, required: false, schema: { type: string }, description: 'IANA zone for "this week"' }
      responses:
        '200':
          description: Score
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Score' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /score/events:
    post:
      summary: Report one earning action (server decides points, caps, one-time rules)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScoreEventRequest' }
      responses:
        '200':
          description: Award result (awarded=false with a reason when capped/duplicate)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AwardResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
    get:
      summary: Score History log, newest first
      parameters:
        - { name: before, in: query, required: false, schema: { type: string, format: date-time } }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        '200':
          description: One page of events
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScoreEventPage' }

  /score/catalog:
    get:
      summary: The "How you earn Ryppls" legend (admin-configured)
      responses:
        '200':
          description: Catalog
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ScoreCatalogItem' }

  /score/levels:
    get:
      summary: All levels in order, with taglines (Level Journey)
      responses:
        '200':
          description: Levels
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Level' }

  /score/backfill:
    post:
      summary: One-time launch backfill for existing testers (SR-SCORE-02); safe to repeat
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BackfillRequest' }
      responses:
        '200':
          description: Events awarded by this call (empty when already done)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ScoreEvent' }

  # ---------- V1.1 AI surfaces (sanitized AiContext in, companion-voiced JSON out) ----------
  /ai/home:
    post:
      summary: Home proactive companion card + Things To Do (V1.1 SR-HOME-01/02; max 3 each)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: Home items (empty lists when the model output fails validation — the app falls back on-device)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HomeItems' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /ai/highlights/daily:
    post:
      summary: Today's highlight (V1.1 SR-HL-01), written from AiContext.highlights
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: Daily highlight (text is null when nothing was logged in the last 24h)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DailyHighlight' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /ai/highlights/weekly:
    post:
      summary: Rolling 7-day Highlights (V1.1 SR-HL-02 / AC-02), written from AiContext.highlights (B1 — nothing stored server-side)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: Weekly highlights
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WeeklyHighlights' }
        '204': { description: 'No valid summary this time (the app keeps showing its last good one)' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /ai/nudge:
    post:
      summary: Morning / evening check-in notification copy (V1.1 SR-NUDGE-03; ≤ 20 words)
      description: >
        intent must be nudge_morning or nudge_evening. The copy is generated per user from the
        sanitized context and validated server-side (word limit, banned-words list). The app
        schedules it as a local notification and falls back to its own template on 204/error.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiContext' }
      responses:
        '200':
          description: Notification copy
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NudgeCopy' }
        '204': { description: 'No valid copy this time — use the on-device template' }
        '400': { $ref: '#/components/responses/BadRequest' }

  # ---------- Companions (V1.1 SR-COMPANION-01) ----------
  /companions:
    get:
      summary: Active companion roster for the selection carousel
      responses:
        '200':
          description: Active companions, in order
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CompanionCard' }

  /me/companion:
    get:
      summary: The signed-in user's companion choice, mapped onto the active roster
      description: >
        A stored companion retired in V1.1 is mapped (aria/nia → maya, kai/elias → jordan);
        migratedFrom is set so the app shows a one-time notice. companionKey is null when
        the user has never chosen.
      responses:
        '200':
          description: Choice
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompanionChoice' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      summary: Save the companion choice (a retired key from an older app is mapped, not rejected)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompanionChoiceRequest' }
      responses:
        '200':
          description: Stored choice (after mapping)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompanionChoice' }
        '400': { $ref: '#/components/responses/BadRequest' }

  # ---------- Safety (V1.1 SR-SAFETY-01 / AC-04 / B5) ----------
  # The on-device crisis net never waits on these: the app shows cached/bundled
  # resources immediately and swaps in the server list when it arrives.
  /safety/resources:
    get:
      summary: Crisis resources for a region, then the worldwide ones (never empty once seeded)
      parameters:
        - { name: region, in: query, required: false, schema: { type: string, pattern: '^[A-Za-z]{2}$' }, description: 'ISO 3166-1 alpha-2 country; anything else means worldwide only' }
      responses:
        '200':
          description: Resources, region first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CrisisResource' }

  /safety/flags:
    post:
      summary: Count one Tier 1 (crisis) or Tier 2 (distress) moment — anonymous
      description: Carries the tier and region only. Never the user's words, never a subject.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SafetyFlagRequest' }
      responses:
        '204': { description: 'Counted' }
        '400': { $ref: '#/components/responses/BadRequest' }

  # ---------- Admin (staff session; ADMIN role) ----------
  /admin/companions:
    get:
      summary: Full companion roster (incl. inactive)
      security: [ { staffSession: [] } ]
      responses:
        '200':
          description: Companions
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/AdminCompanion' } }
    post:
      summary: Add a companion
      security: [ { staffSession: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminCompanionRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCompanion' }

  /admin/companions/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    put:
      summary: Edit a companion (incl. V1.1 colour)
      security: [ { staffSession: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminCompanionRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCompanion' }
    delete:
      summary: Delete a companion
      security: [ { staffSession: [] } ]
      responses:
        '204': { description: 'Deleted' }

  /admin/score/catalog:
    get:
      summary: The full earning catalog (incl. server-only rows)
      security: [ { staffSession: [] } ]
      responses:
        '200':
          description: Catalog rows
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/AdminScoreCatalogRow' } }

  /admin/score/catalog/{code}:
    put:
      summary: Edit one earning rule (applies to future events only; codes and one-time rules are fixed)
      security: [ { staffSession: [] } ]
      parameters:
        - { name: code, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminScoreCatalogUpdate' }
      responses:
        '200':
          description: Updated row
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminScoreCatalogRow' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /admin/score/levels:
    get:
      summary: The 7 levels
      security: [ { staffSession: [] } ]
      responses:
        '200':
          description: Levels
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Level' } }

  /admin/score/levels/{id}:
    put:
      summary: Edit a level (thresholds must stay in order)
      security: [ { staffSession: [] } ]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer, minimum: 1, maximum: 7 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminLevelUpdate' }
      responses:
        '200':
          description: All levels after the change
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Level' } }
        '400': { $ref: '#/components/responses/BadRequest' }

  /admin/score/users/{subject}:
    get:
      summary: Support lookup — one user's score by pseudonymous subject (usr_…)
      security: [ { staffSession: [] } ]
      parameters:
        - { name: subject, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Score
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Score' }

  /admin/safety/resources:
    get:
      summary: All crisis resources (every region, incl. inactive)
      security: [ { staffSession: [] } ]
      responses:
        '200':
          description: Resources
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/AdminCrisisResource' } }
    post:
      summary: Add a crisis resource
      security: [ { staffSession: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminCrisisResourceRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCrisisResource' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /admin/safety/resources/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    put:
      summary: Edit a crisis resource (null = unchanged; a blank action clears it)
      security: [ { staffSession: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminCrisisResourceRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCrisisResource' }
    delete:
      summary: Delete a crisis resource
      security: [ { staffSession: [] } ]
      responses:
        '204': { description: 'Deleted' }

  /admin/safety/flags:
    get:
      summary: Anonymous Tier 1/2 daily counts, last 30 days
      security: [ { staffSession: [] } ]
      responses:
        '200':
          description: Counts, newest day first
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/SafetyFlagCount' } }

components:
  securitySchemes:
    providerIdToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        OIDC ID token issued by a social provider (Google / Apple) during on-device sign-in.
        The backend verifies it statelessly (JWKS) and reads a pseudonymous subject. No backend
        login system; no token minting.
    staffSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Admin-console staff session (issued by /v1/admin/auth/login). The admin paths in this
        file require the ADMIN role.

  responses:
    BadRequest:
      description: Invalid request (e.g., sanitization schema violation)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing/invalid JWT
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    # ---------- Sanitized AI context (what leaves the device) ----------
    AiContext:
      type: object
      description: >
        Sanitized, pseudonymous, ephemeral context. FORBIDDEN: full name, email, phone,
        device ids, precise location, raw health rows, raw timestamps beyond need.
      required: [sessionId, locale, partOfDay, intent]
      properties:
        sessionId: { type: string, format: uuid, description: 'pseudonymous, rotating' }
        locale: { type: string, example: en-US }
        partOfDay: { type: string, enum: [morning, afternoon, evening] }
        addressAs: { type: string, description: 'first-name/nickname only, optional, user-controlled' }
        dimensions:
          type: array
          items: { $ref: '#/components/schemas/DimensionContext' }
        goals:
          type: array
          items: { $ref: '#/components/schemas/GoalContext' }
        memory:
          type: array
          description: top-k relevant facts, no identifiers
          items: { $ref: '#/components/schemas/MemoryFact' }
        recentTurns:
          type: array
          description: short on-device window
          items: { $ref: '#/components/schemas/Turn' }
        userInput: { $ref: '#/components/schemas/TurnInput' }
        intent:
          type: string
          enum: [converse, onboarding, insight, checkin_card, food_vision, milestones, home,
                 highlights_daily, highlights_weekly, nudge_morning, nudge_evening]
        challenges:
          type: [array, 'null']
          description: UC-19 physical limitations to honour, in the user's words (e.g. "knee pain")
          items: { type: string }
        signals:
          type: [array, 'null']
          description: UC-22/24 recent health summaries (e.g. "Sleep avg 7h") — summaries, never raw rows
          items: { type: string }
        companionId: { type: [string, 'null'], description: 'chosen companion key (maya | jordan) → Layer-2 persona' }
        crisisFlag:
          type: [boolean, 'null']
          description: AI-Rules Part 3 on-device 180-day flag. Omitted when false; null means false.
        emotionalState:
          oneOf: [ { $ref: '#/components/schemas/EmotionalState' }, { type: 'null' } ]
        clientDate: { type: [string, 'null'], format: date, description: 'device-local calendar date' }
        timeZone: { type: [string, 'null'], description: 'device IANA zone' }
        platform: { type: [string, 'null'], enum: [ios, android, null], description: 'device platform, so replies and goal wording name the right health app (Apple Health / Health Connect)' }
        loggedThisTurn:
          oneOf: [ { $ref: '#/components/schemas/LoggedThisTurn' }, { type: 'null' } ]
        reminders:
          type: [array, 'null']
          description: V1.1 AC-03 — the on-device reminders, sent on converse only so Wave can edit/delete by id
          items: { $ref: '#/components/schemas/ReminderContext' }
        highlights:
          oneOf: [ { $ref: '#/components/schemas/HighlightsInput' }, { type: 'null' } ]
          description: V1.1 SR-HL-01/02 — sent on the highlights intents only
        subject:
          type: [string, 'null']
          description: SERVER-SET from the verified token. Any client value is ignored.
      additionalProperties: false

    EmotionalState:
      type: object
      properties:
        lastCheckinMood: { type: [string, 'null'] }
        lastCheckinDate: { type: [string, 'null'], format: date }
      additionalProperties: false

    LoggedThisTurn:
      type: object
      description: What THIS turn wrote to the device DB, so the reply states saved facts (RC-1)
      properties:
        logged: { type: [array, 'null'], items: { type: string }, description: 'short summaries, e.g. "30 min run"' }
        pendingFood: { type: [string, 'null'], description: 'a meal awaiting the user''s confirmation' }
        pendingFoodQueued: { type: [boolean, 'null'] }
        failed: { type: [boolean, 'null'] }
        profile:
          type: [object, 'null']
          description: 'Profile fields saved on the device this turn (B182-070), e.g. a height told to Wave'
          properties:
            heightCm: { type: [number, 'null'] }
          additionalProperties: false
      additionalProperties: false

    ReminderContext:
      type: object
      properties:
        id: { type: string, description: 'opaque on-device id' }
        label: { type: string, description: 'the user''s own words' }
        time: { type: string, pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$' }
        frequency: { type: string, enum: [daily, weekly, once] }
        weekday: { type: [integer, 'null'], minimum: 1, maximum: 7, description: 'ISO weekday, weekly only' }
        date: { type: [string, 'null'], format: date, description: 'once only' }
        enabled: { type: [boolean, 'null'] }
      additionalProperties: false

    HighlightsInput:
      type: object
      description: >
        Device-computed, sanitized Highlights summary (B1) — coarse dated facts, never raw logs.
        weeksOfData gates Pattern/Correlation (3+) and Journey (4+) cards.
      properties:
        weeksOfData: { type: [integer, 'null'], minimum: 0 }
        rypplsThisWeek: { type: [integer, 'null'], minimum: 0, description: 'Ryppls earned in the last 7 days, from the score ledger. The weekly note may state only this number; absent means state none.' }
        weekFacts: { type: [array, 'null'], items: { type: string }, description: '"Tue: 3 meals logged, 7.2h sleep"' }
        todayFacts: { type: [array, 'null'], items: { type: string } }
        records: { type: [array, 'null'], items: { type: string }, description: 'genuinely-new personal bests' }
        ryppls: { type: [array, 'null'], items: { type: string }, description: 'this week''s Ryppls by action' }
      additionalProperties: false

    DimensionContext:
      type: object
      required: [dimension]
      properties:
        dimension: { type: integer, minimum: 1, maximum: 9 }
        score: { type: integer, minimum: 0, maximum: 100 }
        momentum: { type: string, enum: [strong, building, balanced, new_focus, room_to_grow] }
        recent: { type: string, description: 'summarized signal, e.g. "sleep 7h24m, HRV +12% vs avg"' }
      additionalProperties: false

    GoalContext:
      type: object
      properties:
        id: { type: [string, 'null'], description: 'opaque on-device goal id' }
        status: { type: [string, 'null'], enum: [active, paused, done, null] }
        title: { type: string }
        progressPct: { type: integer, minimum: 0, maximum: 100 }
        milestone:
          type: object
          properties:
            title: { type: string }
            progressPct: { type: integer, minimum: 0, maximum: 100 }
      additionalProperties: false

    MemoryFact:
      type: object
      required: [kind, content]
      properties:
        kind: { type: string, enum: [goal, preference, setback, win, context] }
        content: { type: string }
        dimension: { type: integer, minimum: 1, maximum: 9 }
      additionalProperties: false

    Turn:
      type: object
      properties:
        role: { type: string, enum: [user, companion] }
        text: { type: string }
      required: [role, text]
      additionalProperties: false

    TurnInput:
      type: object
      properties:
        text: { type: string }
        voiceTranscript: { type: string }
        cardAnswer:
          type: object
          properties:
            cardId: { type: string }
            value: { type: string }
      additionalProperties: false

    # ---------- AI outputs (structured, validated, companion-voice) ----------
    Insight:
      type: object
      required: [dimension, text]
      properties:
        dimension: { type: integer, minimum: 1, maximum: 9 }
        text: { type: string, description: 'warm, positive, ≤180 chars' }
        basis: { type: string, description: 'what data grounded it, e.g. "Apple Health · 7h24m"' }
        tone: { type: string, const: positive }
      additionalProperties: false

    QuickReply:
      type: object
      required: [label, value]
      properties:
        label: { type: string }
        emoji: { type: string }
        value: { type: string }
        followUp: { type: string, description: 'card id or "ai_turn"' }
      additionalProperties: false

    Card:
      type: object
      required: [kind, prompt, replies]
      properties:
        id: { type: string }
        kind: { type: string, enum: [checkin, insight, celebration, reflection, log, outreach] }
        dimension: { type: integer, minimum: 1, maximum: 9 }
        trigger: { type: string, enum: [time, signal, goal, absence, post_meal, user_open] }
        prompt: { type: string, description: 'warm question, ≤140 chars' }
        replies:
          type: array
          minItems: 2
          maxItems: 4
          items: { $ref: '#/components/schemas/QuickReply' }
        allowVoice: { type: boolean, default: true }
        allowFreeText: { type: boolean, default: false }
        allowSkip: { type: boolean, default: true }
        allowImage: { type: boolean, default: false }
      additionalProperties: false

    Milestone:
      type: object
      required: [title, dimension]
      properties:
        title: { type: string }
        dimension: { type: integer, minimum: 1, maximum: 9 }
        target: { type: string }
        window: { type: string, example: "this month" }
        rationale: { type: string }
      additionalProperties: false

    FoodEstimate:
      type: object
      required: [items, kcal]
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              qty: { type: string }
        kcal: { type: integer }
        macros:
          type: object
          properties:
            protein: { type: number }
            carbs: { type: number }
            fat: { type: number }
            fibre: { type: [number, 'null'], minimum: 0, maximum: 100, description: 'grams' }
        confidence: { type: number, minimum: 0, maximum: 1 }
        note: { type: string, description: 'warm, in-voice' }
      additionalProperties: false

    # ---------- Minimal account data ----------
    Profile:
      type: object
      properties:
        displayName: { type: string }
        addressAs: { type: string }
        timezone: { type: string, example: America/New_York }
        locale: { type: string, example: en-US }
      additionalProperties: false

    ConsentChange:
      type: object
      required: [category, granted]
      properties:
        category: { type: string, example: health_signals }
        jurisdiction: { type: string, example: US-WA }
        granted: { type: boolean }
      additionalProperties: false

    PushRegistration:
      type: object
      required: [platform, token]
      properties:
        platform: { type: string, enum: [apns, fcm] }
        token: { type: string }
      additionalProperties: false

    BackupBlob:
      type: object
      required: [ciphertext, version]
      properties:
        ciphertext: { type: string, description: 'opaque/E2E; server cannot read' }
        version: { type: integer }
      additionalProperties: false

    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
      required: [code, message]
      additionalProperties: false

    # ---------- Ryppls ----------
    Level:
      type: object
      required: [id, name, badge, min]
      properties:
        id: { type: integer }
        name: { type: string }
        badge: { type: string, description: 'emoji' }
        min: { type: integer, format: int64 }
        max: { type: [integer, 'null'], format: int64, description: 'null for the top level (Champion)' }
        tagline: { type: [string, 'null'] }
      additionalProperties: false

    NextLevel:
      type: object
      required: [id, name, min]
      properties:
        id: { type: integer }
        name: { type: string }
        min: { type: integer, format: int64 }
      additionalProperties: false

    Score:
      type: object
      required: [lifetime, level, levelProgress, weekRyppls]
      properties:
        lifetime: { type: integer, format: int64, description: 'plain integer — never shown as a percentage' }
        level: { $ref: '#/components/schemas/Level' }
        next: { oneOf: [ { $ref: '#/components/schemas/NextLevel' }, { type: 'null' } ] }
        toNext: { type: [integer, 'null'], format: int64 }
        levelProgress: { type: number, minimum: 0, maximum: 1, description: 'bar fill fraction only — never rendered as a percentage label' }
        weekRyppls: { type: integer, format: int64 }
        updatedAt: { type: [string, 'null'], format: date-time }
      additionalProperties: false

    ScoreEventRequest:
      type: object
      required: [clientEventId, type]
      properties:
        clientEventId: { type: string, description: 'idempotency key' }
        type: { type: string, description: 'catalog code, e.g. food_logged' }
        occurredAt: { type: string, format: date-time }
        tz: { type: string, description: 'IANA zone (caps apply per local day)' }
        area: { type: string, enum: [nutrition, holistic, mood] }
        goalRef: { type: string, description: 'opaque on-device goal id — never goal text' }
      additionalProperties: false

    ScoreEvent:
      type: object
      required: [type, label, points, localDate, earnedAt, oneTime]
      properties:
        id: { type: string }
        type: { type: string }
        label: { type: string, description: 'generic plain-language label' }
        points: { type: integer, minimum: 1 }
        area: { type: [string, 'null'] }
        localDate: { type: string, format: date }
        earnedAt: { type: string, format: date-time }
        oneTime: { type: boolean }
      additionalProperties: false

    AwardResult:
      type: object
      required: [awarded, score]
      properties:
        awarded: { type: boolean }
        reason: { type: [string, 'null'], enum: [duplicate, cap_reached, one_time_used, not_eligible, null] }
        event: { oneOf: [ { $ref: '#/components/schemas/ScoreEvent' }, { type: 'null' } ] }
        score: { $ref: '#/components/schemas/Score' }
      additionalProperties: false

    ScoreEventPage:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/ScoreEvent' } }
        nextBefore: { type: [string, 'null'], format: date-time }
      additionalProperties: false

    ScoreCatalogItem:
      type: object
      required: [type, label, points, oneTime]
      properties:
        type: { type: string }
        label: { type: string }
        points: { type: integer, minimum: 1 }
        capPerDay: { type: [integer, 'null'] }
        capPerWeek: { type: [integer, 'null'] }
        oneTime: { type: string, enum: [NONE, USER, AREA, GOAL] }
      additionalProperties: false

    BackfillRequest:
      type: object
      required: [clientEventId, healthConnected]
      properties:
        clientEventId: { type: string }
        areasWithGoals: { type: array, items: { type: string, enum: [nutrition, holistic, mood] } }
        healthConnected: { type: boolean }
        tz: { type: string }
      additionalProperties: false

    # ---------- V1.1 outputs + resources ----------
    AccountDeletion:
      type: object
      required: [deleted, completesBy]
      properties:
        deleted: { type: boolean }
        completesBy: { type: string, format: date-time, description: 'outer bound shown to the user (30 days)' }
      additionalProperties: false

    HomeItem:
      type: object
      required: [text]
      properties:
        area: { type: [string, 'null'], enum: [nutrition, holistic, mood, null] }
        text: { type: string, description: 'one companion-voiced sentence' }
        waveContext: { type: [string, 'null'], description: 'the companion line Wave opens with when tapped' }
      additionalProperties: false

    HomeItems:
      type: object
      required: [proactive, todos, allOnTrack]
      properties:
        proactive: { type: array, maxItems: 3, items: { $ref: '#/components/schemas/HomeItem' } }
        todos: { type: array, maxItems: 3, items: { $ref: '#/components/schemas/HomeItem' } }
        allOnTrack: { type: boolean, description: 'true → the app shows "You''re on track today, [Name]"' }
      additionalProperties: false

    DailyHighlight:
      type: object
      properties:
        text: { type: [string, 'null'] }
      additionalProperties: false

    InsightCard:
      type: object
      required: [tag, heading, body]
      properties:
        tag: { type: string, enum: [Pattern, Trend, Milestone, Correlation, Observation, Journey] }
        heading: { type: string }
        body: { type: string, description: 'first person, observational — no causal language' }
      additionalProperties: false

    AreaNote:
      type: object
      required: [area, note]
      properties:
        area: { type: string, enum: [nutrition, holistic, mood] }
        note: { type: string, description: 'one sentence, first person' }
      additionalProperties: false

    WeeklyHighlights:
      type: object
      required: [areas, cards, shareCaption]
      properties:
        scoreNote: { type: [string, 'null'] }
        areas: { type: array, items: { $ref: '#/components/schemas/AreaNote' } }
        cards: { type: array, maxItems: 6, items: { $ref: '#/components/schemas/InsightCard' } }
        lookingAhead: { type: [string, 'null'] }
        shareCaption: { type: string, description: 'ends with "Small ryppls. Whole life. One day at a time. #Ryppl"' }
      additionalProperties: false

    NudgeCopy:
      type: object
      required: [text]
      properties:
        text: { type: string, description: '≤ 20 words; check-in language; never the banned notification words' }
      additionalProperties: false

    ReminderAction:
      type: object
      description: Payload of the converse SSE `reminder` event (validated server-side, applied on-device)
      required: [action]
      properties:
        action: { type: string, enum: [create, update, delete] }
        id: { type: [string, 'null'], description: 'required for update/delete' }
        label: { type: [string, 'null'] }
        time: { type: [string, 'null'], pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$' }
        frequency: { type: [string, 'null'], enum: [daily, weekly, once, null] }
        weekday: { type: [integer, 'null'], minimum: 1, maximum: 7 }
        date: { type: [string, 'null'], format: date }
      additionalProperties: false

    CompanionCard:
      type: object
      required: [key, name]
      properties:
        key: { type: string }
        name: { type: string }
        traits: { type: [string, 'null'] }
        tagline: { type: [string, 'null'] }
        photoUrl: { type: string, description: 'empty when the app uses its bundled portrait' }
        color: { type: [string, 'null'], pattern: '^#[0-9A-Fa-f]{6}$', description: 'V1.1 companion colour' }
      additionalProperties: false

    CompanionChoice:
      type: object
      properties:
        companionKey: { type: [string, 'null'] }
        migratedFrom: { type: [string, 'null'], description: 'set when a retired companion was mapped (show a one-time notice)' }
      additionalProperties: false

    CompanionChoiceRequest:
      type: object
      required: [companionKey]
      properties:
        companionKey: { type: string }
      additionalProperties: false

    CrisisResource:
      type: object
      required: [label, detail]
      properties:
        label: { type: string }
        detail: { type: string }
        action: { type: [string, 'null'], description: 'tel:, sms: or https: target' }
      additionalProperties: false

    SafetyFlagRequest:
      type: object
      required: [tier]
      properties:
        tier: { type: integer, enum: [1, 2] }
        region: { type: [string, 'null'], description: 'ISO country; anything else counts as worldwide' }
      additionalProperties: false

    AdminCompanion:
      type: object
      required: [id, key, name, personaKey, active, sortOrder]
      properties:
        id: { type: string, format: uuid }
        key: { type: string }
        name: { type: string }
        traits: { type: [string, 'null'] }
        tagline: { type: [string, 'null'] }
        personaKey: { type: string }
        greetingTemplate: { type: [string, 'null'] }
        insightTemplate: { type: [string, 'null'] }
        photoUrl: { type: [string, 'null'] }
        color: { type: [string, 'null'], pattern: '^#[0-9A-Fa-f]{6}$' }
        active: { type: boolean }
        sortOrder: { type: integer }
      additionalProperties: false

    AdminCompanionRequest:
      type: object
      required: [key, name, personaKey]
      properties:
        key: { type: string }
        name: { type: string }
        traits: { type: [string, 'null'] }
        tagline: { type: [string, 'null'] }
        personaKey: { type: string }
        greetingTemplate: { type: [string, 'null'] }
        insightTemplate: { type: [string, 'null'] }
        photoUrl: { type: [string, 'null'] }
        color: { type: [string, 'null'] }
        active: { type: [boolean, 'null'] }
        sortOrder: { type: [integer, 'null'] }
      additionalProperties: false

    AdminScoreCatalogRow:
      type: object
      required: [code, label, points, oneTime, clientPostable, enabled, showInLegend, sortOrder]
      properties:
        code: { type: string }
        label: { type: string }
        points: { type: integer, minimum: 1 }
        capPerDay: { type: [integer, 'null'] }
        capPerWeek: { type: [integer, 'null'] }
        oneTime: { type: string, enum: [NONE, USER, AREA, GOAL] }
        clientPostable: { type: boolean, description: 'false = server-only (e.g. backfill rows)' }
        enabled: { type: boolean }
        showInLegend: { type: boolean }
        sortOrder: { type: integer }
      additionalProperties: false

    AdminScoreCatalogUpdate:
      type: object
      description: null = unchanged; a cap ≤ 0 removes the cap
      properties:
        label: { type: [string, 'null'] }
        points: { type: [integer, 'null'], minimum: 1 }
        capPerDay: { type: [integer, 'null'] }
        capPerWeek: { type: [integer, 'null'] }
        enabled: { type: [boolean, 'null'] }
        showInLegend: { type: [boolean, 'null'] }
      additionalProperties: false

    AdminLevelUpdate:
      type: object
      description: null = unchanged
      properties:
        name: { type: [string, 'null'] }
        badge: { type: [string, 'null'] }
        minRyppls: { type: [integer, 'null'], format: int64, minimum: 0 }
        tagline: { type: [string, 'null'] }
      additionalProperties: false

    AdminCrisisResource:
      type: object
      required: [id, region, label, detail, sortOrder, active]
      properties:
        id: { type: string, format: uuid }
        region: { type: string, description: 'ISO country, or "*" for worldwide' }
        label: { type: string }
        detail: { type: string }
        action: { type: [string, 'null'] }
        sortOrder: { type: integer }
        active: { type: boolean }
      additionalProperties: false

    AdminCrisisResourceRequest:
      type: object
      properties:
        region: { type: [string, 'null'] }
        label: { type: [string, 'null'] }
        detail: { type: [string, 'null'] }
        action: { type: [string, 'null'] }
        sortOrder: { type: [integer, 'null'] }
        active: { type: [boolean, 'null'] }
      additionalProperties: false

    SafetyFlagCount:
      type: object
      required: [day, tier, region, count]
      properties:
        day: { type: string, format: date, description: 'UTC day' }
        tier: { type: integer, enum: [1, 2] }
        region: { type: string }
        count: { type: integer, format: int64 }
      additionalProperties: false
